@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  /* Default to dark mode base */
  background-color: #0a0a0a;
  color: #ededed;
}
